.section4{
    
    h3{
        color: #828181;
    
    }
}
.slider{
    max-width: 760px;
    margin: 0 auto;
    p{
        color: #575757;
        text-align: center;
        margin: 0 auto;
    }
    .izquierda{
        float: left;
    }
    .derecha{
        float: right;
        
    }
}
.mr_help{
    margin: 0 auto;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 60px;
    p{
        color: #cccccc;
    }
    img{
        float: left;
        padding-right: 15px;
    }
}
